@model JuliRennen.Models.Route

@{
    ViewBag.Title = "Make new Route";
}

@{
    var data = ViewBag.Message;
    Layout = "_Layout";
    var Photo = TempData["Photo"].ToString();
    var RouteName = TempData["RouteName"].ToString();
}


@using (Html.BeginForm("acceptRoute", "Route", FormMethod.Post, new { enctype = "multipart/form-data" })){
   <div asp-validation-summary="ModelOnly" class="text-danger"></div>
   <div class="form-group">
      <h3>Route Name:</h3>
      @Html.TextBox("Name", RouteName)
   </div> 
   <div class="form-group">
      <h3>Distance:</h3>
      @Html.TextBox("Distance", (string)ViewBag.Distance)
   </div> 
   <div class="form-group">
       <h3>GPS X Coordinate #1:</h3>
      @Html.TextBox("GPSxStart", (string)ViewBag.GPSxStart)
   </div> 
   <div class="form-group">
       <h3>GPS X Coordinate #2:</h3>
       @Html.TextBox("GPSxEnd", (string)ViewBag.GPSxEnd)
   </div> 
   <div class="form-group">
       <h3>GPS Y Coordinate #1:</h3>
         @Html.TextBox("GPSyStart", (string)ViewBag.GPSyStart)
   </div> 
   <div class="form-group">
       <h3>GPS X Coordinate #2:</h3>
          @Html.TextBox("GPSyEnd", (string)ViewBag.GPSyEnd)
   </div> 
  <div class="form-group">
      <h3>Filename of photo</h3>
        @Html.TextBox("Photo",Photo)
    </div>
    <input type="submit" value="Submit"/>
}
