@page
@model JuliRennen.Pages.Account.UserIndexModel

@{
    ViewData["Title"] = "UserIndex";
}

<h1>User home</h1>

<h4>Welcome back @Html.DisplayFor(model => model.User.UserName)!</h4>

<div style="display:flex;">
    <hr />

    <div class="card" style="width: 30rem;">
        <img src="~/@Html.DisplayFor(model => model.User.ProfilePic)" class="car-img-top" alt="Profilepic" />
        <div class="card-body">
            <h5 class="card-title"><b>@Html.DisplayFor(model => model.User.UserName)</b></h5>
            <p class="card-text">Ruimte voor statistieken, info, tips, etc.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <dt>
                    Speed tips |
                    @Html.DisplayFor(model => model.User.SpeedPref)
                </dt> 
            </li>
            <li class="list-group-item">
                <dt>
                    Stamina tips |
                    @Html.DisplayFor(model => model.User.StaminaPref)
                </dt> 
            </li>
            <li class="list-group-item">
                <dt>
                    Strength tips |
                    @Html.DisplayFor(model => model.User.StrengthPref)
                </dt> 
            </li>
            <li class="list-group-item">
                <dt>
                    Stretch tips |
                    @Html.DisplayFor(model => model.User.StretchPref)
                </dt> 
            </li>
        </ul>
        <div class="card-body" style="display: flex;">
            <form method="post" asp-page-handler="LogOut">
                <button class="btn btn-dark">Uitloggen</button>
            </form>            
            <a asp-page="./UserEdit" asp-route-id="@Model.User.ID">
                  Bewerk profiel              
            </a>             
        </div>
    </div>
    <div>        
        <h2>Routes</h2>
        <a class="btn btn-primary" asp-page="./RouteIndex">Mijn routes</a>
        <a class="btn btn-warning" href="https://nice-sea-088835f03.1.azurestaticapps.net/gps/voorbeeld.html">Route maken</a>
        
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Foto
                    </th>
                    <th>
                        Naam
                    </th>
                    <th>
                        Afstand
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Route) {
                    <tr>
                        <td>
                            <img class="card-img"src="@item.Photo" style="height: 100px; width: 150px;"/>
                        </td>            
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Distance)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <h2>Runs</h2>
        <a class="btn btn-primary" asp-page="./RunIndex">Mijn runs</a>
        <a class="btn btn-warning" asp-page="/Runs/Create">Run maken</a>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Route
                    </th>
                    <th>
                        Afstand
                    </th>
                    <th>
                        Tijd
                    </th>
                    <th>
                        Rating
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Run) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Route.Name)
                        </td>            
                        <td>
                            @Html.DisplayFor(modelItem => item.Route.Distance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Duration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rating)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
