@page
@model JuliRennen.Pages.Routes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Route[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route[0].Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route[0].Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route[0].GPSxStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route[0].GPSxEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route[0].GPSyStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route[0].GPSyEnd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Route) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPSxStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPSxEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPSyStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPSyEnd)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
